<h1>New Post</h1>

<form action="/posts/create" method="get" accept-charset="utf-8">
    <div>
        title<br>
        <input type="text" name="title" />
    </div>

    <div>
        body<br>
        <textarea type="text" name="body" rows="8" cols="20"/></textarea>
    </div>

    <input type="submit" />
</form>
