<h1>Posts#edit</h1>
<form action="/posts/update/<%= @post.id %>" method="get">
    <h2>title</h2>
    <input type="text" name="title" value="<%= @post.title %>" /><br>
    <h2>body</h2>
    <textarea name="body" cols="30" rows="10"><%= @post.body %></textarea><br>
    <input type="submit" />
</form>
